[2019-08-31 22:02] AmanRawat882 opened #13 "App Drawer is not working"
App drawer icon is showing on the mobile view but not active.

[2019-08-31 22:03] ravisaxena23 opened #14 "we need content"
we need content for about us and all pages

[2019-08-31 22:03] ravisaxena23 opened #15 "meta data"

[2019-08-31 22:04] ravisaxena23 opened #16 "HomePage"
Need an expert to Create a HomePage

[2019-08-31 22:07] ravisaxena23 opened #17 "Login Pannel"
Need an expert to create login popover and dashboard complete panel as given in documentation

[2019-08-31 22:07] ravisaxena23 opened #18 "Create About us page"
Create about us page remember key points given in documentation

[2019-08-31 22:08] ravisaxena23 opened #19 "Create Achievements page remember key points given in documentation"
Create Achievements page remember key points given in documentation we will post pics to

[2019-08-31 22:13] ravisaxena23 opened #20 "create Team section"

[2019-08-31 22:14] ravisaxena23 opened #21 "Create specialty groups section"

[2019-08-31 22:19] ravisaxena23 opened #22 "create mentorship program page"

[2019-08-31 22:20] ravisaxena23 opened #23 "create contact us page"

[2019-09-01 13:41] #13 closed

[2019-09-01 15:42] ravisaxena23 opened #26 "create event page"

[2019-09-01 15:42] ravisaxena23 opened #27 "create resources pages"

[2019-09-03 12:08] Prakhar-Srivastava opened #29 "Component redesign"
I'll be writing components in a more generic style to maximize code reusability and implementing `withTheme()` HOC to provide support for themes

[2019-09-04 13:09] #19 closed

[2019-09-04 18:48] ravisaxena23 opened #32 "Infinite Scrolling in Achievements Page"
We need some one to put Infinite Scrolling in Achievements page.it should fetch data automatically on scrolling.

[2019-09-04 19:26] ravisaxena23 commented on #32
Jo b khete h bt paging mai 1 2 page pr jana pdega hme kya chiye naa ki header vhi fix h footer vhi fix rhe jese hi bnda niche aaye or data fetch hokr load ho Jae

[2019-09-04 19:28] ravisaxena23 opened #34 "Create a Bucket For technojam So that we don't have to move data every time we leave."

[2019-09-04 19:29] ravisaxena23 opened #35 "Put Content in Temporary Json in Achievements Page and put Images. We dont have resources"

[2019-09-05 18:08] #17 closed

[2019-09-05 18:08] ravisaxena23 opened #37 "make registration form"

[2019-09-07 11:07] #37 closed

[2019-09-07 17:34] #21 closed

[2019-09-07 17:34] ravisaxena23 opened #41 "Put Data In Specialty Group"

[2019-09-13 13:04] #15 closed

[2019-09-13 13:05] #32 closed

[2019-09-14 09:03] #26 closed

[2019-09-14 10:21] #23 closed

[2019-09-14 10:22] ravisaxena23 opened #49 "Uniform Design And Beautifying each components"

[2019-09-14 15:34] #18 closed

[2019-09-14 15:40] #29 closed

[2019-09-18 14:23] AmanRawat882 opened #55 "Alumni Page"

[2019-09-23 08:23] #22 closed

[2019-09-23 08:23] #27 closed

[2019-10-02 09:34] #55 closed

[2019-10-02 09:34] #16 closed

[2019-10-02 16:37] lazycipher opened #68 "Fix Footer"
Fix the minimum height of the footer so that It'll be still at the bottom even if there's no content on the page.
For example: Check this image(Team Page). Here footer is not on the bottom.

![Imgur](https://i.imgur.com/uj0gP2m.png)

[2019-10-02 16:58] grovertb commented on #68
Please assign this to me

[2019-10-02 17:06] lazycipher commented on #68
Ya sure! Go Ahead @grovertb

[2019-10-02 17:15] DustinTheGreat commented on #68
damn, I just finished this. have any other bugs?

[2019-10-02 17:36] lazycipher opened #71 "Make Team Design look better!"
Design the Team Page.

It looks like this as of now:

![Imgur](https://i.imgur.com/dtmeQaj.png)

We want to make the profile cool! Please discuss your design before implementing it!

![Imgur](https://i.imgur.com/MUB4ZCP.png)
Don't make it look exactly the same as Alumni Page but take idea from there.

[2019-10-02 17:37] lazycipher commented on #68
@DustinTheGreat, You can try #71

[2019-10-02 17:51] urvashigupta7 commented on #68
<img width="368" alt="error" src="https://user-images.githubusercontent.com/41363633/66068393-2108d880-e56b-11e9-9c34-492108d47dbb.PNG">

Even after installing all the dependencies. I am getting this error.
Could anybody please tell me the reason for this?

[2019-10-02 18:00] DustinTheGreat commented on #68
did you run npm install

[2019-10-02 18:01] urvashigupta7 commented on #68
Yes I did.

[2019-10-02 18:02] DustinTheGreat commented on #68
and npm install react-scripts@latest?

[2019-10-02 18:13] urvashigupta7 commented on #68
Getting the same error.

[2019-10-02 18:20] DustinTheGreat commented on #68
Sorry i'm not really a JS guy... but did try running npm install again after npm install react-scripts@latest? really the only other thing I can think of.

[2019-10-02 18:23] urvashigupta7 commented on #68
It's okay. Thanks :+1:

[2019-10-02 18:46] #49 closed

[2019-10-02 18:48] ravisaxena23 commented on #68
Guys try the new one and change accordingly for dextop view

[2019-10-02 18:49] ravisaxena23 opened #77 "Beautify Code"

[2019-10-02 18:50] ravisaxena23 opened #78 "Beautify Website If needed"

[2019-10-02 18:58] lazycipher commented on #68
@urvashigupta7 got it working?

[2019-10-02 19:02] ravisaxena23 commented on #68
yes!!hope so!! i Dont have monitor

[2019-10-02 19:04] ravisaxena23 opened #80 "New Good Looking Login Modal"

[2019-10-02 19:21] Gabsii commented on #77
I can lint the code, assign me :)

[2019-10-02 19:36] AmanRawat882 commented on #77
Sure

[2019-10-03 02:01] brettbot7 commented on #80
Working on this...

[2019-10-03 04:03] #80 closed

[2019-10-03 04:04] ravisaxena23 opened #84 "make Good Looking Login pannel"

[2019-10-03 04:05] ravisaxena23 opened #85 "Make night mode for the website"

[2019-10-03 04:06] ravisaxena23 opened #86 "Make all Cards shadow same"

[2019-10-03 04:09] ravisaxena23 opened #87 "make this design uniform for all screen resolutions"
PREVIOUS
![Screenshot (27)](https://user-images.githubusercontent.com/44205807/66098775-930c0c80-e5c1-11e9-95b9-a1e324f6193c.png)

AFTER
![Screenshot (28)](https://user-images.githubusercontent.com/44205807/66098794-b6cf5280-e5c1-11e9-9d4c-88122a617f25.png)

[2019-10-03 04:31] dennypradipta commented on #86
I'm working on this

[2019-10-03 04:49] ravisaxena23 opened #88 "Make image on homepage load dynamically"

[2019-10-03 04:50] ravisaxena23 commented on #86
sure work on this

[2019-10-03 04:50] dennypradipta commented on #86
It is now done. You should probably check it

[2019-10-03 04:57] ravisaxena23 commented on #77
Thankyou Lukas Gabsi

[2019-10-03 04:57] #77 closed

[2019-10-03 05:13] ravisaxena23 commented on #86
Thank You dennypradipta..if you like to work on more stuff contact us

[2019-10-03 05:13] #86 closed

[2019-10-03 05:15] RuchiraRuwantha commented on #84
Hey, I like to work on this.

[2019-10-03 05:23] ravisaxena23 opened #92 "Redesign Page headings. they should look good"

[2019-10-03 05:27] ravisaxena23 opened #93 "Delete Imports, folders(Images which are not used), files which are not used in the code, U have to remove all stuff that is not used at run time"

[2019-10-03 05:32] ravisaxena23 commented on #84
sure I'm assigning you this..

[2019-10-03 05:33] #68 closed

[2019-10-03 05:56] ravisaxena23 opened #94 "Make new Twitter wall..or redesign current wall if app id is needed then after completion mark it as comment we will add app id"

[2019-10-03 05:57] #14 closed

[2019-10-03 05:57] #34 closed

[2019-10-03 05:57] #41 closed

[2019-10-03 06:27] #94 closed

[2019-10-03 06:28] ravisaxena23 opened #95 "redesign or beautify Contactus page"

[2019-10-03 12:10] hjJunior commented on #88
Hi, can you please give more details about what you mean if load dynamically? I mean, with an example I can work on it 😬

[2019-10-03 12:13] ravisaxena23 commented on #88
yes sure...actually write now we don't have back end...what we want is that if we change the background image at the back end it should automatically change at front end we dont want to open code and paste the backgrond image link

[2019-10-03 12:13] ravisaxena23 commented on #88
understood??

[2019-10-03 12:15] ravisaxena23 commented on #88
![Screenshot (29)](https://user-images.githubusercontent.com/44205807/66125727-6548b700-e605-11e9-88f0-f4e0b841e7dc.png)
as you can see we have put data in a json file. when the backend is ready we will put api that will automatically fetch json and put the data. u have to do the same task u have to put image link in json that can be retrived by api call.

[2019-10-03 12:17] ravisaxena23 commented on #88
if u understood will you like to work on it???

[2019-10-03 12:18] ravisaxena23 opened #98 "This code uses a lot of same inline css make css file and put css in it and unify the code"

[2019-10-03 12:21] ravisaxena23 commented on #98
eg-: we have given font style roboto at all pages separately do something that we have to give font style at one place and it changes the font of all website...you have to do it for all similar css

[2019-10-03 12:24] chisom5 commented on #98
can i work on this? if you don't mind

[2019-10-03 12:29] ravisaxena23 commented on #98
yes sure..our pleasure to work with u

[2019-10-03 12:29] hjJunior commented on #88
=D thx for ur time! I'd like to work on it, can u assigned to me?

[2019-10-03 12:35] ravisaxena23 commented on #88
sure my pleasure

[2019-10-03 12:41] chisom5 commented on #98
alright

[2019-10-03 12:58] ravisaxena23 opened #100 "redesign footer or align footer buttons to center"

[2019-10-03 13:17] poojakp94 commented on #100
I would like to work on this.

[2019-10-03 13:25] Chambers91 commented on #95
Hey, Im new to the Hacktoberfest coding. Is anyone working on the Contactus page with you? If not I would like to give it a shot.

[2019-10-03 13:25] ravisaxena23 commented on #100
sure

[2019-10-03 13:26] Chambers91 commented on #93
I would like to give this a look if its ok with you ?

[2019-10-03 13:27] ravisaxena23 commented on #95
You are free do show your creativity brother. no one is working right now

[2019-10-03 13:28] ravisaxena23 commented on #95
give it a blow

[2019-10-03 13:29] ravisaxena23 commented on #93
yes sure please

[2019-10-03 15:19] poojakp94 commented on #100
@ravisaxena23 can you elaborate on the redesign you are looking for?
 and I can see that the buttons are already centered.

[2019-10-03 15:26] ravisaxena23 commented on #100
if we see email buttons and copyright they didin't have equal spacing plus.button should look centerd in respect to text. you can decrease the size of footer.

[2019-10-03 15:28] Chambers91 commented on #93
![Screen Shot 2019-10-03 at 11 27 02 AM](https://user-images.githubusercontent.com/26388609/66140822-c30edc00-e5d0-11e9-9031-bf2f8c6fcaa0.png)

before I attempt to delete these , I was wondering if these were the files you were trying to get rid of??

[2019-10-03 16:35] ravisaxena23 commented on #93
nope in every page we use import statements out of which some are never used remove those.plus you can see certain images that are never used certain js files that are never used remove those kinda things..understood??

[2019-10-03 16:48] chisom5 commented on #98
i just made a pull request as soon as i am done with it, kindly check it out

[2019-10-03 17:08] ravisaxena23 commented on #98
I' had to revert your pull request because it changes the base design..card layout is chaged mentorship page is changed achivements are not showing pleaase make new css which do not change the current layout

[2019-10-03 18:09] ravisaxena23 commented on #88
Thankyou I have merged your pull request it was working good..mean while you can  check for new issue we have created

[2019-10-03 18:09] #88 closed

[2019-10-03 18:11] #78 closed

[2019-10-03 18:12] #87 closed

[2019-10-03 18:12] #92 closed

[2019-10-03 18:13] ravisaxena23 opened #108 "Beautify The Code"

[2019-10-03 18:14] ravisaxena23 opened #109 "Beautify Page Headings"

[2019-10-03 18:19] manisacharya commented on #108
Hello @ravisaxena23, can you explain more on this?

[2019-10-03 18:19] dougfabris commented on #109
Hey, can you describe what do you need here?!

[2019-10-03 18:33] ravisaxena23 commented on #108
Please Fork New Code and please check for conflicts

[2019-10-03 18:33] ravisaxena23 commented on #109
Please Fork New Code and please check for conflicts

[2019-10-03 18:35] ravisaxena23 opened #110 "Delete Imports, folders(Images which are not used), files which are not used in the code, U have to remove all stuff that is not used at run time"

[2019-10-03 18:38] ravisaxena23 commented on #109
Different pages uses different heading such as our achievements our alumni..what you have to do is create new headings or beautify the current one. as right now they look little odd with our pages

[2019-10-03 18:40] ravisaxena23 commented on #108
sure..what you have to do is beautify the code i.e every tag should be in hierarchy there should be proper spacing in all tags(1 -2 tabs) code should not scroll sideways etc..did you get it??

[2019-10-03 18:45] ravisaxena23 commented on #98
im soory will you try again?

[2019-10-03 18:49] manisacharya commented on #108
Thanks @ravisaxena23. I will look into it.

[2019-10-03 19:34] chengjo0 commented on #110
I can take that one 👌

[2019-10-03 19:43] dougfabris commented on #109
I got it. Just assign me and I'll work on that

[2019-10-04 02:19] tttson commented on #85
hi! could i take a stab at this?

[2019-10-04 04:03] ravisaxena23 commented on #85
yes sure..but make sure in night mode layout css should not get changes

[2019-10-04 04:06] ravisaxena23 commented on #109
sure ..remember to check headings in mobile view too

[2019-10-04 04:06] ravisaxena23 commented on #110
review will be done soon

[2019-10-04 08:00] chisom5 commented on #98
alright, will look into it

[2019-10-04 09:16] chisom5 commented on #98
i have made the corrections, so it doesn't affect the previous styles

[2019-10-04 10:17] chisom5 commented on #98
but i am now creating a new pull request for it, kindly check it out

[2019-10-04 12:46] ravisaxena23 commented on #84
Nice Work keep it up..thank you

[2019-10-04 12:46] #84 closed

[2019-10-04 12:49] ravisaxena23 opened #120 "Make a new Login Popup"

[2019-10-04 12:50] ravisaxena23 commented on #100
dougfabris there is some in instalation error please check.or i have to abrot it.

[2019-10-04 13:11] rannie-peralta commented on #120
Can I work on this one?

[2019-10-04 13:19] ravisaxena23 commented on #98
Thank you  it just worked fine..great effort brother

[2019-10-04 13:25] ravisaxena23 commented on #120
yes sure

[2019-10-04 13:34] dougfabris commented on #100
Yep, I saw that. I'll check, please wait.

[2019-10-04 13:34] chisom5 commented on #98
Thanks for the opportunity

[2019-10-04 13:45] rannie-peralta commented on #120
What exactly you want me to change from the existing login popup?

[2019-10-04 13:50] ravisaxena23 commented on #120
it looks very odd with our current website.plus in mobile view once we open it we cannot go back. you can make a new login popup as per you creativity which look good with website.and add cross button so that it should get closed if open in mobile. remember it should be responsive

[2019-10-04 13:55] rannie-peralta commented on #120
Alright! Let me try my best.

[2019-10-04 13:58] ravisaxena23 commented on #85
please fetch development1.0 with it ,it will be easy to create night mode..plus please make sure for conflicts thank you

[2019-10-04 13:58] ravisaxena23 commented on #120
all the best

[2019-10-04 14:07] #98 closed

[2019-10-04 14:07] ravisaxena23 commented on #85
or please try to make new css file..

[2019-10-04 14:16] #95 closed

[2019-10-04 14:17] ravisaxena23 opened #123 "Create New contact us page or redesign current page"

[2019-10-04 14:24] thesimpledev commented on #123
I'm up for this! Can I take this over?

[2019-10-04 14:40] thesimpledev commented on #123
![Screen Shot 2019-10-04 at 7 39 16 AM](https://user-images.githubusercontent.com/37192643/66216312-1ab55200-e67a-11e9-9772-066f99e70e69.png)

I found the layout breaks here and there. I'll get working on it!

[2019-10-04 14:50] ravisaxena23 commented on #123
Thankyou so much please dont fork master please work on development 1.0 it will be easy and will not give us conflict..im soory i didn't tell you soon as..i was

[2019-10-04 17:33] ravisaxena23 commented on #100
and the buttons were not align properly in dextop they were in column not in row

[2019-10-04 17:33] #123 closed

[2019-10-04 17:33] #120 closed

[2019-10-04 17:34] #108 closed

[2019-10-04 17:34] #109 closed

[2019-10-04 17:34] #110 closed

[2019-10-05 13:27] ravisaxena23 opened #131 "Create a profile page"

[2019-10-05 13:30] ravisaxena23 commented on #131
create  a profile page..when a person tap on the team memeber or alumni it sholud open there profile page with there names. remember team content is dynamic it will be fetched from backend once completed..try to make team page looks good

[2019-10-05 13:31] ravisaxena23 commented on #131
![Screenshot (33)](https://user-images.githubusercontent.com/44205807/66255552-72e77380-e7a2-11e9-8029-4afb08207382.png)
when some one tap on ravi it should open a page in which my details are shown!!! you can add temp data ..it should show my name , semister ,etc etc..it is a public profile

[2019-10-05 13:42] ravisaxena23 opened #133 "make Redux Form of Website"

[2019-10-05 13:44] ravisaxena23 opened #134 "Add temprorary login"
when i put  abc@mail.com passsword as 1234 in login it should redirect meto the dashboard(new link) which should con be seen in navbar once person login
![Screenshot (34)](https://user-images.githubusercontent.com/44205807/66255691-4f252d00-e7a4-11e9-99d4-7450ce1bf82e.png)
after i put details here a new button should get add in navbar as dashboard having some cards. take login dummy data

[2019-10-05 13:46] ravisaxena23 commented on #134
![WhatsApp Image 2019-10-05 at 19 14 44](https://user-images.githubusercontent.com/44205807/66255718-97dce600-e7a4-11e9-9762-41345657a31e.jpeg)
after login something like this should come in dextop view and you can make mobile view as you like

[2019-10-05 14:30] amreshk005 commented on #85
@ravisaxena23 if no one is this can I work on this?

[2019-10-05 14:33] ravisaxena23 commented on #85
Yes sure..please make sure to work on development1.0 branch

[2019-10-05 14:38] #134 closed

[2019-10-05 14:39] ravisaxena23 opened #136 "Make admin pannel"
![WhatsApp Image 2019-10-05 at 19 14 44](https://user-images.githubusercontent.com/44205807/66256492-e9d53a00-e7ab-11e9-9a3e-8f4eba89f436.jpeg)
it should look something like this no need of graphs just a side bar and some cards

[2019-10-05 14:40] ravisaxena23 commented on #136
fork Devlopment1.0 or honey bhiya. apnnel should contain sidebar too

[2019-10-05 14:45] ravisaxena23 commented on #136
this pannel should only come in navbar after person login so make a dummy login data after which it should come in navbar and after click the pannel should be seen

[2019-10-05 15:25] ravisaxena23 opened #138 "beautify the code"

[2019-10-05 15:34] curranlipsett commented on #136
I'll take this one!

[2019-10-05 15:42] ravisaxena23 commented on #136
all the best..just remember the button should be visible after login and dashboard should look like this dont add graphs etc it will be to hectic for u just add 1 2 cards with lorem epsulm etc

[2019-10-05 16:05] curranlipsett commented on #136
Sorry - I'm going to have to drop this one. It is over my head when it comes to React.

[2019-10-05 16:07] #136 closed

[2019-10-05 16:07] ravisaxena23 opened #139 "make new admin pannel"
this pannel should only come in navbar after person login so make a dummy login data after which it should come in navbar and after click the pannel should be seen
![WhatsApp Image 2019-10-05 at 19 14 44](https://user-images.githubusercontent.com/44205807/66257550-581ff980-e7b8-11e9-99e7-64a2f6c66256.jpeg)try making like this

[2019-10-05 16:08] hendaoui commented on #131
I'm working on it :)

[2019-10-05 16:15] ravisaxena23 commented on #131
all the best

[2019-10-05 16:17] trblackw commented on #138
Working on this now if you don't mind assigning me

[2019-10-05 16:22] ravisaxena23 commented on #138
sure go for it

[2019-10-05 17:04] #139 closed

[2019-10-05 17:07] ravisaxena23 opened #143 "design admin pannel"
![WhatsApp Image 2019-10-05 at 19 14 44](https://user-images.githubusercontent.com/44205807/66258245-670aaa00-e7c0-11e9-8fe7-dc2c42a1ea1b.jpeg)
try creating like this all things are done you just have to design it...no need to add graphs or content just add 1 2 cards to add event.

[2019-10-05 17:23] nik72619c commented on #143
would like to work on this one

[2019-10-05 17:28] ravisaxena23 commented on #143
sure give it a shot i'm here to help. fork new code. you have to work on development1.0

[2019-10-05 17:33] ravisaxena23 commented on #143
soory if you get run error there were small issue i have corrected them you can work now aand show off your creativity to us

[2019-10-05 18:27] fgkolf commented on #133
Hi there,
Can you provide some more details on this issue?

[2019-10-05 18:35] ravisaxena23 commented on #133
yeahh sure have you ever tried react redux?? we have made the components all you have to do it make them in react redux form

[2019-10-05 18:35] ravisaxena23 opened #146 "Convert all and make context api"

[2019-10-05 18:49] fgkolf commented on #133
Yes, i have prior experience in react-redux. So you want to migrate all form elements of your app to react-redux-form?

[2019-10-05 19:02] ravisaxena23 commented on #85
@amreshk005  i checked your pull request you have done a great work. but we are looking for css to one the person tap on button it should change the css to you have to write css to so i have to revert the pull request!! if it is a long task you can create css for basic element such as navbar and footer

[2019-10-05 19:03] ravisaxena23 commented on #85
@tttson you are doing it brother just need a confirmation!!

[2019-10-05 19:04] ravisaxena23 commented on #133
yes can you do that for us it will be a greatest help

[2019-10-05 19:05] ravisaxena23 commented on #85
@tttson will you help us out ma'am

[2019-10-05 19:43] nik72619c commented on #143
Thanks ! Do I need to make all the components shown in the image ?

[2019-10-05 19:54] ravisaxena23 commented on #143
No No, Just the side bar with different buttons , capacity(replace by event) revenue card(achievements)..just make sure when the person login only then this panel is shown else not. for that you can make dummy login data no issue login has been made..is that fine?

[2019-10-05 19:56] hendaoui commented on #131
![image](https://user-images.githubusercontent.com/6974404/66260139-6b2fcb00-e7b2-11e9-98cc-4f0513a34e54.png)

The work is done and a new pull is requested (i think i messed up with branches :p)

[2019-10-05 19:58] ravisaxena23 commented on #131
no issue sir I'm here to help all day night..let me check i will get back to you soon

[2019-10-05 20:49] ravisaxena23 commented on #133
Please work on development 1.0 and pull the latest code some work has already done i tried it

[2019-10-05 20:51] ravisaxena23 commented on #131
![Screenshot (36)](https://user-images.githubusercontent.com/44205807/66260717-02f7de00-e7e0-11e9-93c5-822146ec1623.png)
 check this too

[2019-10-06 00:58] gcmartins11 commented on #71
What do you think of this design?
![Technojam img](https://user-images.githubusercontent.com/42540236/66262678-3a07c880-e7bb-11e9-8daa-9ab40ff7fd35.png)

[2019-10-06 05:08] rakaar commented on #146
I would like to work on this issue

[2019-10-06 05:11] rakaar opened #149 "Bug in Contact us page"
While clicked on Contact Us button on navbar, this is being displayed.
![Screenshot from 2019-10-06 10-39-10](https://user-images.githubusercontent.com/44907757/66264597-e2527700-e825-11e9-867e-808eaa17b60e.png)

[2019-10-06 05:12] rakaar commented on #149
Suggest a solution, I would like to work on it

[2019-10-06 05:45] ravisaxena23 commented on #146
Yes sure u can work.. All the best

[2019-10-06 06:35] rakaar commented on #146
Context API by react is used to problem of  `prop drilling`, where one needs to pass componenents several levels down the parent. Here in the current code base, I couldn't find places where such thing is needed. Infact I couldn't find a place where props is passed and use. This is my opinion. Correct me if I am wrong. @ravisaxena23

[2019-10-06 06:41] rakaar commented on #149
#150

[2019-10-06 07:07] ravisaxena23 commented on #149
thankyou

[2019-10-06 07:08] #149 closed

[2019-10-06 07:11] ravisaxena23 commented on #146
you are absolutely right sir . we are currently not having the backend I,m working on it what we need is that make code base in a way that when i put api it should become in a form of context api..can it be done assuming we have all the required fields?

[2019-10-06 07:23] lazycipher commented on #71
@gcmartins11 Looks good! Can we put image, name and social links inside a material design box?

[2019-10-06 07:32] ravisaxena23 commented on #71
sir you have to work on alumni page no on team page...please redesign alumni page

[2019-10-06 07:51] ravisaxena23 opened #153 "create new profile page or redesign the current one"
![Screenshot (37)](https://user-images.githubusercontent.com/44205807/66265944-04ef8a80-e83c-11e9-9890-480cd13c94c2.png)
make profile page responsive
![Screenshot (38)](https://user-images.githubusercontent.com/44205807/66265948-0caf2f00-e83c-11e9-99ed-45e5e28beba6.png)
it dont look great with our theme ..it should look good on mobiles too.(no scrollable from lefft to right only scroll up and down

[2019-10-06 07:53] ravisaxena23 opened #154 "make Live events part as shown in image"
![Screenshot (39)](https://user-images.githubusercontent.com/44205807/66265973-67488b00-e83c-11e9-990b-52c49cdebf5c.png)
it should not look same but the concept should be same

[2019-10-06 07:55] ravisaxena23 opened #155 "add bottom up button"
![Screenshot (40)](https://user-images.githubusercontent.com/44205807/66265996-a37beb80-e83c-11e9-8c63-3623a3c859d7.png)
arrow which take you to the staring of page

[2019-10-06 07:55] ravisaxena23 opened #156 "add infinite scrolling"
add infinite scrolling to all the pages except homepage

[2019-10-06 07:57] ravisaxena23 opened #157 "redesign event page"
![Screenshot (41)](https://user-images.githubusercontent.com/44205807/66266024-f05fc200-e83c-11e9-8066-7ff451af9651.png)
![Screenshot (42)](https://user-images.githubusercontent.com/44205807/66266027-f48bdf80-e83c-11e9-8fb2-1ebd15eecba7.png)
redesign event page with same concept so that it look cool and show upcoming and past events

[2019-10-06 08:02] nik72619c commented on #155
I'll give it a try

[2019-10-06 08:02] #93 closed

[2019-10-06 08:02] #100 closed

[2019-10-06 08:02] ravisaxena23 commented on #155
all the best

[2019-10-06 08:03] ravisaxena23 commented on #155
u r not making admin pannel?? should i try?

[2019-10-06 08:04] #35 closed

[2019-10-06 08:09] nik72619c commented on #155
Working on that as well :)

[2019-10-06 08:11] Mr-Magnificent commented on #155
Is is issue taken? I'd like to attempt it.

[2019-10-06 08:14] ravisaxena23 commented on #155
try your best @Mr-Magnificent everyone can work on issue. you can also try live event .

[2019-10-06 10:51] honeycoder96 commented on #146
Closing for now.
Once I implement the login/register after implementing the backend will see if we need this.

[2019-10-06 10:51] #146 closed

[2019-10-06 10:56] bulliana commented on #153
I will take this one!

[2019-10-06 10:59] ravisaxena23 commented on #153
sure all the  best

[2019-10-06 11:12] wale-bant commented on #156
Hello there, can I work on this?

[2019-10-06 11:26] ravisaxena23 commented on #156
sure

[2019-10-06 12:54] hendaoui commented on #131
Alright I'm gonna fix it

[2019-10-06 13:17] ravisaxena23 commented on #131
All the best

[2019-10-06 13:34] fgkolf commented on #133
As far as i see, in development 1.0,  there is no redux infrastructure at all. Is there any specific reason you would like to keep form state in redux? If not, consider using something like react-final-form https://final-form.org. Here is the reason why written by the maker of redux-form https://final-form.org/docs/react-final-form/philosophy.

[2019-10-06 15:16] #133 closed

[2019-10-06 18:10] ardnahcivar commented on #154
what about the content, inside the live event pages, would be also of the same format?

[2019-10-06 19:41] rakaar commented on #146
This depends on the complexity of state in the project. Even if api is integrated,  things can be done without context api also. If things grow complex, then its context api is recommended. Till then I believe general React will serve the purpose.

[2019-10-06 22:00] gcmartins11 commented on #71
Sure! I'm working on it!

[2019-10-07 03:49] ravisaxena23 commented on #154
Yes it will be fetch from backend once completed.. For now you can copy jso  file from events page

[2019-10-07 07:13] Mr-Magnificent commented on #155
Is this issue done?

[2019-10-07 07:21] branis97 commented on #157
Hello, can I work on this one?

[2019-10-07 07:46] ravisaxena23 commented on #155
Nope issue is not done yet.. The code for this issue is not writen yet you have to write it. Use development branch to do so

[2019-10-07 07:47] ravisaxena23 commented on #157
Yes it is all yours

[2019-10-07 07:48] ravisaxena23 commented on #157
Use development1. 0 branch

[2019-10-07 07:51] branis97 commented on #157
Got it. Thank you!

[2019-10-07 09:31] #71 closed

[2019-10-07 09:31] #138 closed

[2019-10-07 09:31] #153 closed

[2019-10-07 09:32] ravisaxena23 commented on #155
on above image i have just shown what you have to add the image in complete imaginary not related to code

[2019-10-07 10:42] ravisaxena23 opened #162 "convert team page to this form"
![Screenshot (45)](https://user-images.githubusercontent.com/44205807/66305427-eca36c80-e91c-11e9-9259-1793c4e22f83.png)
right now team page look like this in mobile view this is to hectic
try and convert team page to like this. members from a-e come in a single scroll able row in mobile view and f-j in another and so on

[2019-10-07 10:57] AhsanAyaz commented on #162
@ravisaxena23  I'd like tow rok on the issue.
You've mentioned how it looks on mobile but there's no mobile screenshot.

[2019-10-07 10:57] ravisaxena23 commented on #162
all the best

[2019-10-07 10:58] ravisaxena23 commented on #162
just remember it should be responsive and cool

[2019-10-07 11:40] Mr-Magnificent commented on #155
![Screenshot_20191007_170728](https://user-images.githubusercontent.com/23209858/66308587-20829000-e925-11e9-8d8c-62cfb4928ea4.png)
When I try to run the local development server after cloning the repo. The home page shows this webpage not the "The cards" one. What am I missing here?

[2019-10-07 11:55] ravisaxena23 commented on #155
You are missing nothing you have to create the functionality as shown in
the cards at this website.

On Mon, Oct 7, 2019, 17:10 Ayush Poddar <notifications@github.com> wrote:

[2019-10-07 11:56] ravisaxena23 commented on #155
There should b a circular modal which take us at the top of the website.
You have to add this functionality in this website

On Mon, Oct 7, 2019, 17:10 Ayush Poddar <notifications@github.com> wrote:

[2019-10-07 12:05] Mr-Magnificent commented on #155
Let me just confirm again. All the task requires is to a "go to top" hover button at the bottom of the page in the technojam website?
![Screenshot_20191007_170728](https://user-images.githubusercontent.com/23209858/66310074-df8c7a80-e928-11e9-89d0-b65a96237dee.png)

[2019-10-07 13:11] AhsanAyaz commented on #162
Hey @ravisaxena23 , lol my last comment had a question too.
- How does the mobile version look like?
- How do you want it to look like?
The issue's description is somewhat confusing.

[2019-10-07 13:15] ravisaxena23 commented on #162
for now i have reverted the team page..have you ever used netflix? create team page look like that...mobile view too

[2019-10-07 16:11] ravisaxena23 opened #163 "add night mode css"
create a new css file for night mode and make a basic night mode for home page

[2019-10-07 16:24] Abhishek9608 commented on #163
@ravisaxena23 can I work on this issue?

[2019-10-07 16:29] ravisaxena23 commented on #163
sure

[2019-10-07 18:41] nik72619c commented on #143
cool

[2019-10-07 21:38] nik72619c commented on #155
is it gonna be on every page ?

[2019-10-07 21:57] nik72619c commented on #155
ref #164 @ravisaxena23 please have a look

[2019-10-09 03:29] ravisaxena23 commented on #155
thank you it was nice

[2019-10-09 03:30] #155 closed

[2019-10-09 15:57] ardnahcivar commented on #154
@ravisaxena23  created pull request #167, please take a look into it

[2019-10-09 16:47] #154 closed

[2019-10-09 18:30] ravisaxena23 opened #169 "Add preloaders"
![Screenshot_20191009-235850](https://user-images.githubusercontent.com/44205807/66509543-ea920700-eaf0-11e9-995e-fcd3e9479ecf.png)
Add something like this.. Not same but good one.. It should look cool

[2019-10-09 18:38] ravisaxena23 commented on #169
https://dscnsec.com/
Take inspiration from here

[2019-10-09 23:11] jpjjulie commented on #169
Hey, Can I try to work on this?

[2019-10-10 00:15] zhonghaoliu opened #170 "Team page thumbnail and name overlap"
![image](https://user-images.githubusercontent.com/25513105/66529418-5c5a5880-ead1-11e9-8705-77fd2270b20a.png)

Hi there, I found this issue from your website and I would like to solve it for Hacktoberfest.

[2019-10-10 01:00] honeycoder96 commented on #169
Yes for sure @jpjjulie

[2019-10-10 01:07] honeycoder96 opened #171 "Resolve Logout Bug"
**Branch** : Development1.0

**ReGenerate Bug** : Login/Register once and click on logout. It logs you out first and clears the token from localstorage but again calls the loaduser action.

**Reason**: loadUser action is being called in useEffect hook so that if user reloads the page or comes back again to the website and remain login.
But due to same reason on clicking logout its again calling th

[2019-10-10 01:12] honeycoder96 commented on #170
Hi, @zhonghaoliu just pull the latest code from **Development1.0** branch as I can't regenerate the same issue on my system. But if it still persists just leave a comment here and you can work on it.

[2019-10-10 02:00] Sjain020188 commented on #171
Can I try this?

[2019-10-10 09:09] nik72619c commented on #143
What should I do for the login mechanism ? Is the admin gonna have a separate login pannel or the one already present in the website ?

[2019-10-10 09:14] nik72619c commented on #143
How can I view the admin dashbooard ?

[2019-10-10 09:35] nik72619c commented on #143
Login button doesn't seem to have any function attached . How are you handling loggging in of the user ?

[2019-10-10 09:40] ravisaxena23 commented on #143
Please pull new code.. It has login temp login u can create ur own guest ID
too

[2019-10-10 12:31] #85 closed

[2019-10-10 12:31] ravisaxena23 commented on #171
sure

[2019-10-10 12:33] ravisaxena23 opened #173 "add night mode css and functioning"

[2019-10-10 12:34] #131 closed

[2019-10-10 12:35] ravisaxena23 opened #174 "redesign profile page"

[2019-10-10 13:05] Sjain020188 commented on #171
Thanks! I will attempt it on weekend.

[2019-10-10 13:49] JoelLau commented on #173
duplicate of #163 ?

[2019-10-10 14:03] ravisaxena23 commented on #173
yup

[2019-10-10 14:04] ravisaxena23 commented on #173
but added certain things before it so please pull and add functioning to night mode button

[2019-10-11 12:54] #170 closed

[2019-10-12 08:31] branis97 commented on #157
Hello @ravisaxena23! I just opened PR #178. Check it out! I hope you will be happy with redesign🙂.

[2019-10-12 08:39] branis97 commented on #157
If you will like my work I would like to contribute more to this project. I saw that you are not using any linter tool like ESLint or code formatter like Prettier. I can add them to project. Code will be more readable and with same styling. This will make contribution even more easier. Have a nice day!

[2019-10-12 08:43] ravisaxena23 commented on #157
It is a beauty of open source that we can contribute many things. And we
are pleased to work with you. I'm happy you are with us in this project. I
will surely check your pr once I'm free. Right now I'm in college classes.
I have my own startup apart from it. And yes we need a prettier you are
free to add things that really matters. I will be more than happy to work
with you. If you need anything

[2019-10-12 08:54] branis97 commented on #157
You are welcome🙂! Looking forward to our further collaboration.

[2019-10-12 08:55] ravisaxena23 commented on #157
Our pleasure

On Sat, Oct 12, 2019, 14:24 branis97 <notifications@github.com> wrote:

[2019-10-12 12:47] #157 closed

[2019-10-12 12:50] honeycoder96 commented on #171
This issue has been resolved with https://github.com/technojam/technojam-frontend/commit/ad2b9ed28a5ce8ce3283cc5bfcb9e20d0419d96c , just pull the latest code from development branch.

[2019-10-12 12:50] #171 closed

[2019-10-12 18:03] hendaoui commented on #174
I'm working on it, it will will be delivered soon

[2019-10-12 18:10] ravisaxena23 commented on #174
ok

[2019-10-13 06:45] honeycoder96 opened #180 "Admin dashboard drawer position"
**Component**: Dashboard.js
**Access**: Login with admin credentials(admin@admin.com,admin) and on top menu click Dashboard

**Current State**: The sidebar/drawer scrolls with page and the size is fixed as well.

**Desired State**: Create a [clipped drawer](https://material-ui.com/components/drawers/) which remains fixed on the scroll.

[2019-10-13 08:21] ardnahcivar commented on #180
I will take this one.

[2019-10-13 08:28] phondani0 opened #181 "technojam-frontend is using the development build of react"

[2019-10-13 09:08] honeycoder96 commented on #180
Ok @ardnahcivar do ahead.

[2019-10-13 09:26] ardnahcivar commented on #180
@honeycoder96 raised the pull request #182

[2019-10-13 10:03] #180 closed

[2019-10-13 15:49] dwivediabhimanyu commented on #181
Thanks @phondani0  for letting us know this issue. This issue was fixed.

[2019-10-13 15:49] #181 closed

[2019-10-13 17:33] #156 closed

[2019-10-13 17:34] ravisaxena23 opened #184 "Create Infinite scrolling in all pages except homepage"

[2019-10-13 17:40] ravisaxena23 opened #185 "Put about us (3 icon) content in a paper or card with opacity 0.8"
![Screenshot (47)](https://user-images.githubusercontent.com/44205807/66719502-7025f780-ee0e-11e9-9437-7639ac9a192e.png)

as u can see 3 icon with data put those 3 in a single card

[2019-10-13 17:45] ravisaxena23 opened #186 "make form look good in dashboard event"
![Screenshot (48)](https://user-images.githubusercontent.com/44205807/66719569-3ef9f700-ee0f-11e9-8f1d-93bd8f861d3e.png)

[2019-10-13 17:51] basiliskav commented on #185
I am working on this one

[2019-10-13 17:52] ravisaxena23 commented on #185
Ok

[2019-10-13 18:29] phondani0 commented on #185
I have made the pull request, didn't know you were working on it

[2019-10-13 18:45] basiliskav commented on #185
it's ok dude. I created a PR also. But you should not start to work on an open source issue without notifying the others first.

[2019-10-13 18:56] anikerr commented on #186
Hello, can I work on this? Was there anything specific you want done to the form, or just fix up the CSS?

[2019-10-13 19:04] ravisaxena23 commented on #186
Just make form in center and make it look cool.. Yes please fix up css too

[2019-10-13 19:07] anikerr commented on #186
Got it, thanks!

[2019-10-13 19:44] Muskan284 commented on #184
hey, @ravisaxena23  can I work on it?

[2019-10-13 20:03] ravisaxena23 commented on #184
Yes sure

[2019-10-14 05:49] #185 closed

[2019-10-14 12:55] ravisaxena23 opened #191 "Make profile Table responsive"
to login at dashboard use id-: admin@admin.com, password :- admin go to profile
![Screenshot (49)](https://user-images.githubusercontent.com/44205807/66752765-dc0c6c80-eeaf-11e9-815b-569b2700104c.png)
 make this page responsive right now it look like this
![Screenshot (50)](https://user-images.githubusercontent.com/44205807/66752808-f1819680-eeaf-11e9-8704-cc0e31972273.png)

[2019-10-14 14:11] ardnahcivar commented on #191
I'll work on this

[2019-10-14 14:12] ravisaxena23 commented on #191
Okay

[2019-10-14 14:20] dsouzajoy commented on #191
Hey, I will work on this one.

[2019-10-14 14:22] ravisaxena23 commented on #191
Sure..

On Mon, Oct 14, 2019, 19:50 dsouzajoy <notifications@github.com> wrote:

[2019-10-14 14:27] ardnahcivar commented on #191
checked the issue on the dashboard page, there is no icon for the profile page
![image](https://user-images.githubusercontent.com/19891982/66758847-b9348500-eebc-11e9-80ef-c5bc5cc26611.png),

[2019-10-14 14:28] ravisaxena23 commented on #191
Use development1. 0 branch not master

On Mon, Oct 14, 2019, 19:57 ravbhanage <notifications@github.com> wrote:

[2019-10-14 14:34] ravisaxena23 commented on #191
Got it?

On Mon, Oct 14, 2019, 19:57 Ravi Saxena <saxenaravi23599@gmail.com> wrote:

[2019-10-14 14:35] ardnahcivar commented on #191
yes

[2019-10-14 18:23] ardnahcivar commented on #191
@ravisaxena23 raised the PR #192

[2019-10-15 23:15] honeycoder96 opened #194 "Add animation on hover"
**WHERE**: /src/Components/Layouts/Footer.js

**CURRENT STATE**: No animation on interaction.

**DESIRED STATE**: Add simple bounce animation on hover of the social icons

[2019-10-15 23:56] PavanKKamra commented on #194
Hey Honey Sharma,

I would like to attempt to fix this issue. :).

[2019-10-16 00:07] luismanfroni commented on #194
Made a pull request for this task #195

[2019-10-17 04:18] #143 closed

[2019-10-17 04:19] #174 closed

[2019-10-28 12:39] #194 closed

[2019-10-29 06:09] #191 closed

[2019-10-31 16:09] honeycoder96 opened #198 "Create chat screen UI using Material UI(https://material-ui.com/)"
**Branch**: Development1.0
**File**: components/Layout/ChatBox.js
**Current Behavior**: On alumni page clicking on any chat icon opens a fullscreen dialog without any actual content.

**Expected Behaviour**: Design a chat UI similar to the [this](https://i.pinimg.com/originals/01/19/80/011980624dea195a8f58a531771175a4.png). Improvizations are welcome :)

[2019-10-31 18:32] PabloPap commented on #198
I'll work on this

[2019-11-01 06:21] honeycoder96 commented on #198
sure @PabloPap , make sure you work on Development branch and create a pull request to Development branch only.

[2019-11-01 06:30] honeycoder96 opened #199 "Use skeleton to be displayed loading content."
**Branch**: Development1.0
**Where**: Events page
**File**: components/pages/event.js
**Current Behaviour**: While the data is being fetched from backend it displays a loading message which disappears when the actual data loads.
**Expected Behaviour**: Please Use material UI [skeleton](https://material-ui.com/components/skeleton/) to show loading data.

**Note** :
  1. Make use if no data is loade

[2019-11-01 06:37] #184 closed

[2019-11-03 05:02] ardnahcivar commented on #199
@honeycoder96 I'll work on it

[2019-11-03 05:38] honeycoder96 commented on #199
Sure, @ardnahcivar

[2019-11-06 06:12] honeycoder96 commented on #198
hi @PabloPap , r u still working on this?

[2019-11-06 06:13] honeycoder96 commented on #199
Hi @ardnahcivar , are u working on this?

[2019-11-06 22:24] PabloPap commented on #198
hi @honeycoder96, due to shortage of time I can't keep up for now....You can assign someone else

[2019-11-08 06:06] honeycoder96 commented on #198
OK problem @PabloPap thank anyway.

[2019-11-10 05:19] ardnahcivar commented on #199
@honeycoder96  raised the PR, do check and let me know if any changes required

[2019-11-12 12:23] dreamerchandra commented on #198
hey @honeycoder96 ! Just started with this repo to check how hard is this feature to implement!
I'm wondering what is .history dir?

[2019-12-05 13:01] ravisaxena23 opened #207 "add a method so that one can add event from backend and they are imminently shown on frontend"

[2020-05-21 11:46] #163 closed

[2020-07-16 10:32] Anshikasoni opened #219 "Update instagram button link from footer."
Current link gives a 404 error.

[2020-08-07 19:38] prog-hammer commented on #219
The issue is fixed now.

[2020-08-07 19:38] #219 closed

[2020-09-05 14:45] lakshya-20 commented on #207
Add event admin panel is working now integrated it with backend.

[2020-09-05 14:45] #207 closed

[2020-09-28 15:09] Ritwik880 opened #232 "Dark mode feature"
Before dark mode:
![Screenshot from 2020-09-28 20-39-15](https://user-images.githubusercontent.com/54446880/94450290-b49ad680-01ca-11eb-91a6-141461c6645f.png)

After dark mode on:
![Screenshot from 2020-09-28 07-47-34](https://user-images.githubusercontent.com/54446880/94450317-c0869880-01ca-11eb-9687-96fe2a9771f6.png)

[2020-09-28 17:20] lakshya-20 opened #233 "Data Validation"
Add input validation of the data received while creating a new account to ensure only properly formed data is entering the workflow.

Entries to be verified:
- Name should not be of length less than 3.
- Should be a valid email address.
<p align="center">
<img width="460" height="500" src="https://user-images.githubusercontent.com/39180629/94464756-82927000-01dc-11eb-81cf-85a522a37583.png">
</p>

[2020-09-28 17:28] lakshya-20 opened #234 "Re enter password"
Add a re-enter password field and validation to verify both passwords.
If the password does not match, the user should not be able to create his account.
<p align="center">
<img width="800" height="600" src="https://user-images.githubusercontent.com/39180629/94465701-ef5a3a00-01dd-11eb-92ed-e005284eb0fa.PNG">
</p>

[2020-09-28 17:35] lakshya-20 opened #235 "Know More button not working on mobile view"
<p align="center">
<img width="460" height="800" src="https://user-images.githubusercontent.com/39180629/94466341-e9b12400-01de-11eb-98f0-55e1a1ef7996.PNG">
</p>

[2020-09-28 17:35] Xaconi commented on #234
Hi! Can you assign me this one? I'm searching open issues for the Hacktoberfest and this one seems valid!

[2020-09-28 17:43] lakshya-20 opened #236 "The event component is not responsive to the mobile view."
<p align="center">
<img width="460" height="800" src="https://user-images.githubusercontent.com/39180629/94466988-f124fd00-01df-11eb-903d-b317d7419264.PNG">
</p>

[2020-09-28 18:23] jz543fm commented on #233
Working on this

[2020-09-28 19:35] MitanshiKshatriya commented on #236
Hi, looking for issues for hacktoberfest.  Could I be assigned to this issue?

[2020-09-28 19:40] jz543fm commented on #233
File in /src/TopMenu.js

`	const handleRegister = e => {
		e.preventDefault();
		if(name.length <= 3){
			setAlert('Name should not be of length less than 3.', 'danger');
		}
		const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		re.test(String(email).toLocaleLowerCase);
		if(re.test(

[2020-09-28 19:50] MitanshiKshatriya commented on #236
Hi I have worked with reactjs.  I would like to be assigned to it. Can you elaborate what does downward arrow denote?

[2020-09-28 20:25] lakshya-20 commented on #236
Hello @MitanshiKshatriya  That down arrow denotes a scroll back to the top button which is supposed to be visible completely on the screen but is shifted a little bit out of the screen.
It is supposed to be like this:
![image](https://user-images.githubusercontent.com/39180629/94482387-d01bd680-01f6-11eb-8265-0e0a03f0f66d.png)

[2020-09-28 20:26] lakshya-20 commented on #234
Sure!

[2020-09-28 20:28] MitanshiKshatriya commented on #236
Okay! So shud I start fixing it?

[2020-09-28 20:30] lakshya-20 commented on #236
Yes, you can.

[2020-09-29 05:54] ampsteric commented on #235
I would like to work on this issue sir. please assign it to me.

[2020-09-29 05:58] ampsteric commented on #232
I would like to work on this issue sir. please assign it to me.

[2020-09-29 06:09] jz543fm commented on #233
Can it be considered as fix for this issue?

[2020-09-29 06:50] #232 closed

[2020-09-29 07:29] lakshya-20 commented on #235
Okay!

[2020-09-29 07:35] illegalcall commented on #233
I'll be happy to contribute.

[2020-09-29 09:33] ampsteric commented on #235
And can I send the PR on 1st October for the count in Hacktoberfest?

[2020-09-29 09:51] lakshya-20 commented on #233
Yes, it's working fine!
Thanks

[2020-09-29 09:51] #233 closed

[2020-09-29 10:01] lakshya-20 commented on #235
Okay, you can do it on 1st of October.

[2020-09-30 12:30] lakshya-20 opened #239 "Data Validation for Contact Us form."
Add input validation of the data received while submitting a  contact query to ensure only properly formed data is entering the workflow.

Entries to be verified:

- First Name is mandatory and must of length greater than 2
- Should be a valid email address.
- Must be a valid contact number
- Query should not be empty
<p align="center">
<img width="560" height="500" src="https://user-images.github

[2020-09-30 12:34] alabo-excel commented on #239
Hello lakshya! I would love to work on this issue, can you please assign me to it!

[2020-09-30 12:37] arpancodes commented on #239
Hello, I want to do this for hacktoberfest can you please assign it to me? Thanks in advance 😃

[2020-09-30 18:04] arpancodes commented on #239
Hey @lakshya-20 even though it wasn't assigned to anyone... I started working on it and completed as well... wanted to ask if we want to validate the contact number with or without country code? currently I am doing it with the country code.

[2020-09-30 19:08] Kingmandeep commented on #234
i want to work on this project

[2020-09-30 22:15] alexandramj92 commented on #198
I am interested in working on this issue. It doesn't look like there are any api routes set up for storing any of the chat dialogue? Can I just submit a pull request with dummy data atm?

[2020-09-30 22:42] alexandramj92 commented on #234
@lakshya-20 Hi ! I tried to submit a pull request for this issue. Not sure if I need to be assigned to it first?

[2020-10-01 05:35] Xaconi commented on #234
Let me make a PR tonight (I live In Spain), I'll notify you if I don't have time to do it.

[2020-10-01 08:08] ampsteric commented on #235
resolved the #235 issue.
Please review it and accept so that my contribution for hacktoberfest can also be counted.

Best regards,
Shashwat.

[2020-10-01 08:15] lakshya-20 commented on #239
Yes! got your pr thanks!

[2020-10-01 08:15] #239 closed

[2020-10-01 08:30] lakshya-20 commented on #235
Got your pr and it's working now.
Thanks!

[2020-10-01 08:30] #235 closed

[2020-10-01 17:10] Xaconi commented on #234
@lakshya-20 ok, I've made a [PR](https://github.com/technojam/technojam-frontend/pull/242) a few minutes ago. Waiting for validation!

[2020-10-01 17:19] alexandramj92 commented on #162
@ravisaxena23 I am interested in taking on this issue. Can you assign it to me?

[2020-10-01 17:21] alexandramj92 commented on #186
@ravisaxena23 I am also interested in this issue. Can you assign it to me? Thanks!

[2020-10-01 17:34] ravisaxena23 commented on #186
@alexandramj92 go ahed

[2020-10-01 18:17] MitanshiKshatriya commented on #236
![image](https://user-images.githubusercontent.com/42690596/94847112-c46f2080-043f-11eb-8958-6ed9d2d05316.png)
I have been trying to run the project on my machine but i am getting 404 page for all branches. I installed the node modules using npm install and npm start.

[2020-10-01 18:37] lakshya-20 opened #245 "Add Form UI to add Team Members"
**Make a UI to add Team Members and the required fields are:**
- Name
- Email
- Linkedin Url
- Github Url
- Batch
- Image Url

**Example:**
This is Ui to add events and the add Team Member UI should also look similar to this but with desired fields.
![list_view](https://user-images.githubusercontent.com/39180629/94849181-a6ef8600-0442-11eb-8eeb-ef6c471b4f7c.PNG)

**Current UI**
![Capture](https://

[2020-10-01 18:41] ruhci28 commented on #245
hii, @lakshya-20  can i work on this

[2020-10-01 18:45] romasinha commented on #245
Hey @lakshya-20 I am skilled in React and UI Components. Please assign me this issue.

[2020-10-01 18:50] ravisaxena23 commented on #245
@ruhci28 @romasinha sure go ahead

[2020-10-01 18:56] ruhci28 commented on #245
Hey @lakshya-20 let me try it

[2020-10-01 18:56] ruhci28 commented on #245
we should not work on same issue. it just waste some one time

[2020-10-01 19:05] lakshya-20 opened #246 "Display data in Modal"
There is a list of events having details and some functionalities like edit, delete and download registered attendees,
The task is to load data from the list to modal.

**The Event list looks like:**
![event_list](https://user-images.githubusercontent.com/39180629/94851765-83c6d580-0446-11eb-800f-b40e7adc7230.PNG)

When clicked on the edit button the details of that particular event should be visi

[2020-10-01 19:07] ravisaxena23 commented on #245
@ruhci28 go-ahead we are not going to reject any PR we won't waste anyone's time. also, nothing is a waste of time you are going to learn something new. you can also look at other issues to we going to add new issues tonight.  although you can start working on it.

[2020-10-01 19:07] kala2 commented on #246
Hello, Could you assign it to me please?

[2020-10-01 19:10] ravisaxena23 commented on #245
@ruhci28 you can look in it #246 too.

[2020-10-01 19:13] ravisaxena23 commented on #246
@kala2 sure

[2020-10-01 19:19] lakshya-20 opened #247 "Add Update Event function"
**Add update event function in "src/context/event/"**
The props would include the event details :
{
    "eid":"12431231",
    "type":"Single",
    "name":" workshop",
    "description":"2 day workshop covering basic of HTML,CSS and JavaScript",
    "capacity":"150",
    "venue":"Virtual",
    "timing":"10:00",
    "date":"2020-08-23",
    "isPaid":"No",
    "teamSize":"0",
    "amount":"0",
    "r

[2020-10-01 19:24] Abdul-Sen commented on #247
Hi, please assign this task to me.

[2020-10-01 19:34] ravisaxena23 commented on #247
@Abdul-Sen sure

[2020-10-01 19:35] ravisaxena23 commented on #247
you just start working

[2020-10-01 19:50] romasinha commented on #245
@lakshya-20 The dashboard icon is not visible. I registered as a user too. Still unable to figure out where the Drawer component is. Can you help me please?

[2020-10-01 19:53] ruhci28 commented on #245
![Screenshot 2020-10-02 at 1 22 16 AM](https://user-images.githubusercontent.com/59759735/94856593-d3f56600-044d-11eb-88af-d37cdb0a4245.png)
Hii @ravisaxena23 what is the api for  adding the user.?

[2020-10-01 19:58] ravisaxena23 commented on #245
@ruhci28 you will find API here https://radiant-thicket-94737.herokuapp.com/
for other issues, you can also mail me at ravisaxena230599@gmail.com

[2020-10-01 20:05] ruhci28 commented on #245
ok sure

[2020-10-01 20:12] ravisaxena23 commented on #162
@alexandramj92 done that

[2020-10-01 20:19] lakshya-20 opened #248 "Delete Contact Button is not working"
**Delete contact button is not working**
![delete](https://user-images.githubusercontent.com/39180629/94858689-0fddfa80-0451-11eb-99f6-d6165edfe94c.PNG)

The "deleteContact" function is at "src/context/auth"
And the endpoint to send request is "/api/contact" which accepts "cids" in format
[code]

[2020-10-01 20:21] lakshya-20 opened #249 "Enhance the Events page"
Make the current Events page more attractive.
**Current UI**
![image](https://user-images.githubusercontent.com/39180629/94859130-b1fde280-0451-11eb-8979-746ae54fcc49.png)

[2020-10-01 20:21] lakshya-20 commented on #249
Also attach the screenshots while making a pr.

[2020-10-01 20:23] lakshya-20 opened #250 "Add Dark Mode"
**The Dark Mode button is not working.**
![image](https://user-images.githubusercontent.com/39180629/94859376-0ef99880-0452-11eb-9dec-348d2ecc0226.png)

[2020-10-01 20:26] lakshya-20 opened #251 "Enhance Live Event"
When there are no Live Events there should be some message like "No events now come back soon".
![image](https://user-images.githubusercontent.com/39180629/94859652-7d3e5b00-0452-11eb-9cbc-734c86afaef9.png)

[2020-10-01 20:27] ankitgoel25 commented on #250
I would like to work on this issue!

[2020-10-01 20:35] ruhci28 commented on #245
@ravisaxena23 i have to make changes in user tab or team tab.?

[2020-10-01 20:38] lakshya-20 commented on #250
Go ahead!

[2020-10-01 20:41] lakshya-20 commented on #236
Use command (for master branch)
[code]
Also the port no is set to 3000.

[2020-10-01 20:42] lakshya-20 commented on #234
Yes, it's working!

[2020-10-01 20:42] #234 closed

[2020-10-01 20:47] lakshya-20 opened #253 "Display data in Edit User Modal"
There is a list of registered users having details and some functionalities like edit and delete.
**The task is to load data from the list to modal.**

**The Users list looks like:**
![users_list](https://user-images.githubusercontent.com/39180629/94861501-43228880-0455-11eb-910f-3a8e6ff9b44f.PNG)

When clicked on the edit button the details of that particular user should be visible in the modal.

[2020-10-01 20:51] rodriigomedeiros commented on #253
Can you assign it to me?

[2020-10-01 20:59] KaylaKremer commented on #251
I'll take this one on!

[2020-10-01 21:00] paulrrdiaz commented on #251
Hey @lakshya-20
Could I work on this?

[2020-10-01 21:10] lakshya-20 commented on #253
Go ahead!

[2020-10-01 21:19] lakshya-20 opened #256 "Update Add Team Member Ui"
**Task 1**
- Change Add Users to Add Team Members
- Add one more filed for Position

File Location : **"../dashboard/team.js"**
**Current UI**
![image](https://user-images.githubusercontent.com/39180629/94863864-bed20480-0458-11eb-8c82-1d70975af7fb.png)

**Task 2**
Add List of Team Members above the add Team Members form, you can take dummy data from below
[code]

The UI should look similar to:
![

[2020-10-01 21:34] daretobedifferent18 commented on #248
I would like to work on this issue

[2020-10-01 21:35] AdavizeTheFirst commented on #256
taking this up

[2020-10-01 22:00] bolajiscott commented on #250
is it fixed now,

[2020-10-01 23:20] trybick commented on #256
Hi, I would like to try this please.

[2020-10-02 00:54] rodriigomedeiros commented on #253
@lakshya-20 it seems to me that the API is not working. The address is correct? Also, do you have a default user to login?

[2020-10-02 00:58] TheoGU commented on #256
Hello, how can I access this page?

[2020-10-02 02:58] ravisaxena23 commented on #245
You can do both but for now you can make changes in user tab

[2020-10-02 05:05] lakshya-20 commented on #256
@TheoGU It is available in Dashboard folder

[2020-10-02 05:27] lakshya-20 commented on #250
No, you can work on this.

[2020-10-02 05:27] lakshya-20 commented on #248
Go ahead!

[2020-10-02 05:44] lakshya-20 commented on #253
Hey, @rodriigomedeiros for now you can go with the dummy data. I mean just make an array with 2 records and then map that array with the list and do the modal task accordingly.

[2020-10-02 05:46] lakshya-20 commented on #247
Done!

[2020-10-02 05:46] #247 closed

[2020-10-02 06:13] phanlyhuynh commented on #253
@lakshya-20 How can i access user's page? Thanks

[2020-10-02 06:14] NiketanG commented on #250
If no one's assigned to this yet, I could do it.

[2020-10-02 06:15] phanlyhuynh commented on #250
Can you assign to me? Thanks

[2020-10-02 06:18] lakshya-20 commented on #250
Go ahead! @NiketanG @phanlyhuynh

[2020-10-02 06:23] lakshya-20 commented on #253
@phanlyhuynh just go to the "../src/dashboard/user.js" directory.
**Or** you can set up the whole project on your system the backend is at https://github.com/technojam/technojam-backend

[2020-10-02 06:28] phanlyhuynh commented on #250
@lakshya-20 https://github.com/technojam/technojam-frontend/pull/260 I fixed it. Please check for me. Thanks :D

[2020-10-02 06:35] phanlyhuynh commented on #253
@lakshya-20 sorry, but how can i show this page on my website?
![image](https://user-images.githubusercontent.com/32766920/94894694-1487ca80-04b4-11eb-9e90-d0b86b8a3548.png)

Thanks.

[2020-10-02 06:43] lakshya-20 commented on #253
The page is only visible to the admin user, after registering a user go to the database and change your role from "user" to "admin".
(After setting the project on your local system)

[2020-10-02 06:51] phanlyhuynh commented on #253
@lakshya-20 Thanks for supporting !!!

[2020-10-02 07:10] lakshya-20 commented on #253
Anytime! :)

[2020-10-02 07:15] NiketanG commented on #250
@lakshya-20 The changes are done. Dark mode working site-wide. #261

[2020-10-02 07:25] abhishekjain35 commented on #236
I would like to work on this. Please Assign it to me.

[2020-10-02 08:14] abhishekjain35 commented on #236
![image](https://user-images.githubusercontent.com/53055241/94900752-2c128380-04b3-11eb-82d9-b796c056c209.png)

**Is it okay should I make PR?**

**If I need to make any more changes, please specify.**

[2020-10-02 08:44] #169 closed

[2020-10-02 08:45] ravisaxena23 opened #262 "Add pre loader."
![Screenshot_20191009-235850](https://user-images.githubusercontent.com/44205807/66509543-ea920700-eaf0-11e9-995e-fcd3e9479ecf.png)
Add something like this.. Not same but good one.. It should look cool.

[2020-10-02 08:54] ravisaxena23 opened #263 "Generic CSS"
**description**
some CSS used in pages are common.
Currently, CSS present in components is inline.

**solution**
Create a folder name CSS.<br />
Create a separate CSS file for each component. with name _component.css
import the CSS file in the component.
replace inline CSS with generic classes.

**alternatives**
you can apply your creativity just ping us what solution you are doing.

[2020-10-02 08:58] christeen24 commented on #263
shall i work on this?

[2020-10-02 09:07] Isha2103 commented on #263
@christeen24, Yes you can.

[2020-10-02 10:03] TheoGU commented on #256
@lakshya-20 yes but online, where I can see the rendering of the screenshot

[2020-10-02 10:42] lakshya-20 commented on #236
@abhishekjain35 Yes make a pr

[2020-10-02 10:45] lakshya-20 commented on #256
The page is only visible to the admin user, after registering a user go to the database and change your role from "user" to "admin".
(After setting the project on your local system)
you can set up the whole project on your system the backend is at https://github.com/technojam/technojam-backend

[2020-10-02 10:58] abhishekjain35 commented on #236
@lakshya-20 I've made the PR. Please review it.

[2020-10-02 11:10] lakshya-20 commented on #246
Thanks! @kala2  :)

[2020-10-02 11:10] #246 closed

[2020-10-02 11:32] lakshya-20 commented on #236
@abhishekjain35
Thanks, man! :)

[2020-10-02 11:32] #236 closed

[2020-10-02 11:53] #173 closed

[2020-10-02 11:57] ravisaxena23 opened #266 "create event page with your imagination."
** description.**
The current Event page doesn't go with our UI. It also decreases UX.

**solution**
Your job is to create a new event page that looks good at night and day mode and goes with the theme. You can choose any creativity any Idea you Like. Just comment on what you are doing before moving forward.

** Current page **
![Screenshot (3)](https://user-images.githubusercontent.com/44205807/9

[2020-10-02 12:00] #245 closed

[2020-10-02 12:05] #249 closed

[2020-10-02 12:07] ravisaxena23 commented on #250
@ankitgoel25 hey Ankit sorry this issue is almost over however we have created a new issue #266 I think you are going to like it. please do check

[2020-10-02 12:53] EnechukwuChibuike commented on #263
Can I do that?

[2020-10-02 13:08] daretobedifferent18 commented on #248
I have logged in and backend server is also working in parallel.
I am not able to get the page that is shown in description of this issue while running locally. Could you pls help me finding it.

[2020-10-02 14:01] lakshya-20 commented on #248
The page is only visible to the admin user, after registering a user go to
the database and change your role from "user" to "admin".
(After setting the project on your local system)
you can set up the whole project on your system the backend is at
https://github.com/technojam/technojam-backend

On Fri, Oct 2, 2020 at 6:38 PM DIVYAM TAYAL <notifications@github.com>
wrote:

[2020-10-02 17:41] alexandramj92 commented on #186
just made created the pull request for this issue

[2020-10-02 20:25] theakhiljha opened #269 "Create a Chatbot"
A simple **chatbot component to promote GU Developer groups and events** also collect visitor details like name, email, mobile number, admission number/enrollment number & year(course)

**Example:**
<img src="https://cloud.githubusercontent.com/assets/1014326/25716667/2d4bb4c4-30d6-11e7-996e-30c8fb316361.gif" height="400" />

Features:

1. Bot initiates the conversation by simply giving choices :

[2020-10-02 20:44] SubhamKarmakar24 commented on #262
@ravisaxena23 Can I work on this?

[2020-10-03 03:11] ravisaxena23 commented on #263
@EnechukwuChibuike sure

[2020-10-03 03:11] ravisaxena23 commented on #262
@SubhamKarmakar24 go ahead.

[2020-10-03 03:15] #248 closed

[2020-10-03 03:16] ravisaxena23 commented on #263
@EnechukwuChibuike should I assign it to you?

[2020-10-03 03:19] ravisaxena23 commented on #266
@lakshya-20 should we close it?

[2020-10-03 03:20] ravisaxena23 commented on #186
@alexandramj92 thanks

[2020-10-03 03:20] #186 closed

[2020-10-03 03:22] ravisaxena23 commented on #250
@lakshya-20 should we close it

[2020-10-03 04:27] tsukii21 commented on #266
I would like to work on this

[2020-10-03 05:19] ravisaxena23 commented on #266
@tsukii21 please tell us what UI your going to implement if we find it okay You can go ahead.

[2020-10-03 05:20] ravisaxena23 commented on #266
@tsukii21 just provide  us with a design idea using paint or SS whichever you like

[2020-10-03 06:57] lakshya-20 commented on #251
Thanks, @KaylaKremer  for your contribution :)

[2020-10-03 06:57] #251 closed

[2020-10-03 07:00] lakshya-20 commented on #250
@ravisaxena23 yes we can.

[2020-10-03 10:11] EnechukwuChibuike commented on #263
Yes

[2020-10-04 09:37] #250 closed

[2020-10-04 09:39] ravisaxena23 commented on #162
@alexandramj92 hey! are you working on this issue?

[2020-10-05 14:54] alexandramj92 commented on #162
yes I am!

[2020-10-06 09:01] codebloded opened #272 "Add LinkedIn and github icon in users table inside dashboard"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2020-10-06 09:09] #272 closed

[2020-10-07 19:21] Abdul-Sen commented on #269
Hey this looks like an interesting feature. Are you looking to work with existing chat bot packages or are we expected to build one on our own with no additional dependencies? I'm fine either way.

Please assign it to me.

[2020-10-08 06:48] daretobedifferent18 commented on #266
I would like to work on this .

[2020-10-09 17:07] Eddges commented on #263
Hey, I would like to work on it. I was thinking of implementing the solution with css-modules. That way the scope will be limited to the component instead of having a global effect.

[2020-10-09 19:37] lakshya-20 commented on #256
Hey! @TheoGU @trybick  are you working on this?

[2020-10-09 19:38] lakshya-20 commented on #253
Hey! @rodriigomedeiros @phanlyhuynh are you working on this?

[2020-10-09 23:13] trybick commented on #256
@lakshya-20 Hey I'm sorry I haven't been able to :(  Please un-assign me as I likely won't be able to soon

[2020-10-13 18:37] Jackmt9 commented on #199
Can I work on this?

[2020-10-13 19:04] Jackmt9 commented on #199
I've created the changes needed. Need access to create the pull request if possible.

[2020-10-14 20:16] lakshya-20 opened #276 "Update css"
A minor change in CSS of team profile for dark mode.
Changes Required:
- Change the name color to white or some relevant color.
- Change social media logos to relevant color.
![image](https://user-images.githubusercontent.com/39180629/96040529-107e8400-0e88-11eb-838c-0b8d37e50c81.png)

[2020-10-14 20:24] abdulsamad commented on #276
Can I work on this?

[2020-10-14 20:27] lakshya-20 commented on #276
Yes, you can.

[2020-10-14 20:32] abdulsamad commented on #276
Thanks

[2020-10-14 21:29] abdulsamad commented on #276
The profile page is a class-based component so I'll need to use material-ui's withStyle instead of the makeStyle hook. what should I do?

[2020-10-14 22:06] abdulsamad commented on #276
Or I can change it to a functional component. May I?

[2020-10-15 09:55] abdulsamad commented on #276
#277 Please have a look

[2020-10-18 08:48] itsvvishnu commented on #276
I have created a pull request that will solve this issue .[https://github.com/technojam/technojam-frontend/pull/279](url)

[2020-10-23 11:28] amisha64 commented on #276
Can I work on this?

[2020-10-25 08:04] sakshi172015 commented on #253
Is anyone working on this issue? I can work otherwise.